@media (max-width: 1280px) {
  .main {
    padding-bottom: 80px;
  }
  .main__back {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .main__back-text {
    margin-left: 10px;
    color: #e93c3c;
    font-size: 16px;
  }

  .main__title {
    font-size: 20px;
    margin-top: 26px;
    color: #25282b;
  }

  .main___buttons {
    margin-top: 20px;
  }

  .button_filter {
    background-color: #f9f9fa;
    border: 1px solid #cacccf;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px;
    margin-right: 4px;
    font-size: 12px;
    line-height: 14px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .border_red {
    border-color: #e93c3c;
  }

  .main___sorting-filter {
    display: flex;
    margin-top: 30px;
  }

  .main___sorting {
    display: flex;
    align-items: center;
  }

  .sorting__title {
    margin-right: 8px;
    font-size: 14px;
  }

  .main___filter {
    display: flex;
    align-items: center;
    margin-left: 22px;
  }

  .filter__text {
    margin-left: 10px;
    font-size: 16px;
    color: #25282b;
  }

  .content__gallery {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .content__gallery__item {
    width: 300px;
    padding: 16px 16px 30px;
    text-align: center;
    border: 1px solid #e8e8e8;
  }

  .content__gallery__image {
    width: 224px;
    height: 438px;
  }

  .content__gallery__info {
    margin-top: 14px;
    text-align: left;
  }

  .content__gallery__info_art {
    font-size: 14px;
    color: #a0a4a8;
  }

  .content__gallery__info_description {
    font-size: 14px;
    margin-top: 10px;
    color: #25282b;
    line-height: 18px;
  }

  .content__gallery__info__price {
    display: flex;
    align-items: baseline;
    & .blue {
      margin-top: 14px;
      margin-right: 16px;
      font-size: 16px;
      color: #1a8bff;
    }
    & .red {
      font-size: 18px;
      font-weight: 500;
      color: #e93c3c;
    }
  }

  .content__gallery__button {
    display: flex;
    margin-top: 30px;
  }

  .button__buy {
    width: 204px;
    height: 40px;
    background-color: #e93c3c;
    color: #fff;
    margin-right: 16px;
  }

  .button__heart {
    width: 48px;
    height: 40px;
    border: 1px solid #a0a4a8;
    border-radius: 4px;
  }

  .button__showmore {
    width: 300px;
    padding: 15px 0;
    font-size: 16px;
    color: #25282b;
    background-color: #e8e8e8;
    text-align: center;
  }

  .content__gallery__pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .button__number {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    &:hover {
      background-color: #e93c3c;
      color: #fff;
    }
  }

  .red-text {
    width: 28px;
    color: #e93c3c;
  }

  .grey-text {
    color: #a0a4a8;
  }

  .is-active {
    background-color: #e93c3c;
    color: #fff;
  }

  .button__arrow {
    height: 24px;
  }
}
